@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(135deg, #00feba, #5b5481)
}



.correct{
  background-color: lightgreen;
}
.wrong{
  background-color: lightcoral;
}