@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(135deg, #00feba, #5b5481)
}
.quizContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quizContainer h1{
  margin-bottom: 3rem;
  font-size: 30px;
}
.quizCategory{
  width: 80%;
display: grid;
gap: 20px;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.quizCategory div{
  font-size: 20px;
  display: flex;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    height: 100px;
  width: 300px;
  background-color: white;
  margin-bottom: 20px;
}
@media(max-width: 767px){
  .quizContainer{
    width: 100%;
    height: 100%;
  }
  .quizCategory{

    grid-template-columns: 1fr;
  }
}
@media(min-width: 768px) and (max-width: 1217px){
  .quizContainer{
    width: 100%;
    height: 100%;
  }
  .quizCategory{

    grid-template-columns: 1fr 1fr;
  }
}

.quizCategory div:hover{
  opacity: 0.7;
}
.homepage{
  color: purple;

}
.homepage:hover{
  opacity: 0.7;
}

.correct{
  background-color: lightgreen;
}
.wrong{
  background-color: lightcoral;
}